pelican
markdown==3.3.7
pelican-seo
pelican-share-post
#pelican-sitemap
pelican-related-posts
pymdown-extensions
markdown-figcap
mdx-include
python-markdown-comments
minchin.pelican.plugins.nojekyll
cython
pelican-read-more
pelican-jinja2content
pelican-series
pelican-more-categories
