:root {
    --color-bg: #eee;
    --color-fg: #0a0a0a;
    --black: white;
    --white: black;
    --lightgray: #888;
    --darkgray: #444;
    --theme-1-darker: #f60;
    --theme-1: darkorange;
    --theme-1-lighter: darkorange;
    --theme-1-lightest: #fa4;
    --theme-2-darker: blue;
    --theme-2: #06f;
    --theme-3: red;
    --theme-3-darker: maroon;
    --theme-4: lime;
    --theme-4-darker: green;
    --color-heading: var(--theme-2);
    --color-link: var(--theme-2);
    --color-link-visited: var(--theme-1);
    --color-open-tab: var(--theme-3);
    --color-footer: var(--darkgray);
    --font-heading: "Computro Mono", monospace;
    --font-body: "Open Sans", sans-serif;
    --font-code: "Ubuntu Mono", monospace;
}

a.broken {
    color: var(--theme-3);
}
